/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
    /*------------------------------------------------------------------------------*/

    html{
        box-sizing:border-box;
      }
      *,*:before,*:after{
        box-sizing:inherit;
      }
      body{
        font-family:"Courier New", Courier, monospace;
      }
      
      #header-box{
        display: flex;
        flex-direction: column;
        padding: 1%;
        background:#cbc8cc;
      }
      #my-name{
        font-size: 3em;
      }
      
      #nav-bar{
        display:flex;
        flex-wrap: wrap;
        padding: 1%;
      }
      nav{
        display:flex;
      }
      #home{
        padding: 7%;
        margin: 0 20%;
        background-color: #c483de;
        text-decoration: none;
        color: white;
        border-radius: 1.5em;
      }
      #home:hover{
        background:white;
        color:#c483de;
      }
      #about{
        padding: 7%;
        margin: 0 15%;
        background-color: #c483de;
        text-decoration: none;
        color: white;
        border-radius: 1.5em;
      }
      #about:hover{
        background:white;
        color:#c483de;
      }
      #contact{
        padding: 7%;
        margin: 0 15%;
        background-color: #c483de;
        text-decoration: none;
        color: white;
        border-radius: 1.5em;
      }
      #contact:hover{
        background:white;
        color:#c483de;
      }
      #projects{
        padding: 7%;
        margin: 0 15%;
        background-color: #c483de;
        text-decoration: none;
        color: white;
        border-radius: 1.5em;
      }
      #projects:hover{
        background:white;
        color:#c483de;
      }
      
      #content-area{
        display:flex;
        flex-wrap: wrap;
      }
      #content-area2{
        display:flex;
        flex-wrap: wrap;
      }
      #project-images1{
        display:flex;
        margin: 5%;
        width: 40%;
        height: 40%;
      }
      #project-images2{
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin: 12% 5%;
        width: 40%;
        height: 30%;
      }
      #project-images2 #name{
        font-size: 4em;
        text-align: center;
      }
      #project-images2 #project{
        width: 20%;
        padding: 5% 3%;
        margin: 2% 40%;
        background-color: #c483de;
        text-decoration: none;
        text-align:center;
        color: white;
        border-radius: 1.5em;
      }
      #project-images2 #project:hover{
        background:white;
        color:#c483de;
        border: 1px solid grey;
      }
      #project-images2 #info{
        margin: 4% 3%;
        font-size: 1.5em;
        text-align: left;
      }
      .project-images{
        width: 44%;
      }
      #content-area2 .project-images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 25%;
      }
      #content-area2 .project-images a{
        text-decoration: none;
        color: black;
      }
      
      #content-area2 .project-images #UA{
        width: 100%;
        margin: 5%;
      }
      #content-area2 .project-images #bakery{
        width: 100%;
        margin: 5%;
      }
      #content-area2 .project-images #HTML-CSS{
        width: 100%;
        margin: 5%;
      }
      #content-area2 .project-images #twa{
        width: 100%;
        margin: 5%;
      }
      #content-area2 .project-images #PanAm{
        width: 100%;
        height: 60%;
        margin: 5%;
      }
      #content-area2 .project-images #favcamp{
        width: 100%;
        height: 50%;
        margin: 5%;
      }
      #content-area2 .project-images #garden{
        width: 100%;
        margin: 5%;
      }
      #content-area2 .project-images #archery{
        width: 100%;
        margin: 5%;
      }
      #content-area2 p{
        width:35%;
        display:flex;
        justify-content: left;
      }
      #content-area2 a{
        width:35%;
        display:flex;
        justify-content: left;
      }
      
      #footer-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5%;
        background:#cbc8cc;
      }
      #footer-nav a{
        padding: 10% 30%;
      }
      @media screen and (max-width: 800px){
        body{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width:100%;
        }
        #header-box{
          display:flex;
          flex-direction: column;
          width:100%;
        }
        nav a{
          width:100%;
        }
        #content-area{
          display:flex;
          flex-direction: column;
          width:100%;
        }
        img{
          display:flex;
          width:100%;
          height: 100%;
          padding-left: 1%;
        }
        #project-images2{
          display:flex;
        }
        #content-area2{
          display:flex;
          flex-direction: column;
          width:100%;
        }
        .project-images{
          display: flex;
          width: 45%;
          padding: 2%;
        }
      }